apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: miniserve-data
  namespace: default
  labels:
    app: miniserve
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: microk8s-hostpath
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: miniserve-uploads
  namespace: default
  labels:
    app: miniserve
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: microk8s-hostpath